<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
      <h2 class="title-heading">Latest Articles</h2>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img1.jpg" alt="blog1" />
          <h3>Testing A Single Page Angular JS Applications</h3>
          <p>by <span>Arnab Roy Chowdhury</span></p>
          <p>
            With the introduction of Angular JS, Google brought a paradigm shift
            in the world of web development. Gone were the days when static web
            pages consumed a lot of resources and resulted in a website that is
            slower to load and with each click on a button, resulting in a
            tiring page reload sequence. Dynamic single page websites or one
            page website became the new trend where with each user action, only
            the content of the page changed, sparing the user from experiencing
            a website full of slower page loads...
          </p>
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img2.jpg" alt="blog1" />
          <h3>The Ultimate Guide To Building A Mobile Friendly Website</h3>
          <p>by <span>Harish Rajora</span></p>
          <p>
            As per statcounter, in 2016, mobile internet usage surpassed
            computer internet usage which solidified and prioritized the mobile
            usage stance in the market. Another statistic by Statista conveys
            that in 2020, around 4.57 billion people were accounted for as
            active mobile internet users. This just goes on to show how
            indispensable mobiles have become for accessing the internet. If you
            are running an online business and don’t have a mobile-friendly
            website then you are missing out on a lot of potential leads...
          </p>
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img3.jpg" alt="post1" />
          <h3>Top 9 PHP Frameworks For Web Development In 2021</h3>
          <p>by <span>Rahul Jain</span></p>
          <p>
            With an average global salary of $39k, PHP is one of the most
            popular programming languages in the developer community. It’s the
            language behind the most popular CMS, WordPress. It is in-use by 79%
            of total websites globally, including the most used social network-
            Facebook, the largest digital encyclopedia – Wikipedia, China’s news
            giant Xinhuanet, and Russia’s social network VK.com...
          </p>
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img4.jpg" alt="post2" />
          <h3>Responsive Web Design Testing Checklist: All You Need to Know</h3>
          <p>by <span>Harish Rajora</span></p>
          <p>
            We live in an era of smartphones, and we spend a lot of our time on
            these devices. Do you know an average smartphone user currently
            spends 4 hours and 30 minutes per day on their device? The chances
            are high that you are reading this article on your smartphone too...
          </p>
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img5.jpg" alt="post3" />
          <h3>AVIF Image Format – The Next-Gen Compression Codec.</h3>
          <p>by <span>Harish Rajora</span></p>
          <p>
            Page speed is a big thing. From a search engine optimization
            perspective, and user perspective. And it’s not me who’s saying
            this, it’s Google, and Moz, and SEMrush and every major SEO site out
            there. Now when we talk about page speed, the biggest challenge for
            developers is always images...
          </p>
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img6.jpg" alt="post4" />
          <h3>Browser Compatible Smooth Scrolling with CSS, JS & JQuery</h3>
          <p>by <span>Harish Rajora</span></p>
          <p>
            Have you ever noticed how a scroll works on a webpage? What if you
            are not allowed to touch the mouse or the arrow keys on the
            keyboard. How would you scroll then? If you happen to have pressed
            the space key while navigating a page, you’d have noticed that it
            scrolls down a page, welcome to the club!...
          </p>
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</section>
