<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-left">
          <h1>About Us</h1>

          <div class="detail-img">
            <img src="assets/images/about.jpg" alt="blog1" />
          </div>
          <div class="blog-desc">
            <h1>Out Story</h1>
            <p>
              Long ago and far away, in Estonia in the early 2000s, our
              co-founders ran a software consultancy.
            </p>
            <p>
              As their clients and projects proliferated, they kept wondering,
              "What should we budget for this project?” and “How long did we
              spend working on that again?" So, they created a time tracking
              tool.
            </p>
            <p>
              When clients wanted more insight into where time was spent, they’d
              give them a time report. Clients loved these reports! They started
              asking, "Hey... can we use the time tracker too?"
            </p>
            <ul>
              <li>Highlight a recently released product</li>
              <li>Advertise a special or promotion</li>
              <li>Weather delay or holiday hours</li>
              <li>Promote upcoming new products</li>
              <li>Offer a free giveaway or download</li>
              <li>Share news about a recent award or certification</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
