<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left">
          <h1>Browser Compatible Smooth Scrolling with CSS, JS & JQuery</h1>
          <div class="posted-on">
            <p>
              by <span>Harish Rajora</span> on
              <span>March 10, 2019</span>
            </p>
          </div>
          <div class="detail-img">
            <img src="assets/images/img6.jpg" alt="blog1" />
          </div>
          <div class="blog-desc">
            <p>
              Have you ever noticed how a scroll works on a webpage? What if you
              are not allowed to touch the mouse or the arrow keys on the
              keyboard. How would you scroll then? If you happen to have pressed
              the space key while navigating a page, you’d have noticed that it
              scrolls down a page, welcome to the club! But in addition to that,
              there is another way to scroll the page of the website using a
              dedicated key on the keyboard. Yes, the PgDn (Page Down) key. Now,
              before reading the post and what we are about to discuss, scroll
              this page using the page down key and notice if there’s an abrupt
              pattern (sudden jump).
            </p>
            <p>
              Scrolling is a commonly used feature on computers. Even without
              the mouse, there are still a lot of users who rely on the keyboard
              for scrolling. These users include the readers, editors, and other
              people who tend to read a lot. As a web developer, you must have
              coded or noticed a link on the webpage that takes you to another
              section on the web page by giving the id of that element as href
              in the anchor tag. It is so instant that the “scrolling” part is
              quite abrupt.
            </p>
            <h1>What Is Smooth Scrolling?</h1>
            <p>
              Smooth scrolling is exactly what its name literally suggests i.e.
              scrolling smoothly on the webpage. As a default scroll behavior,
              the scroll is very abrupt and sudden but when the smooth scrolling
              is active on a web page, the web page scrolls down gradually which
              eases out the efforts by the readers who read a long web page.
              Let’s see a small demo difference between normal scrolling and
              smooth scrolling:
            </p>
            <ul>
              <li>
                Although incorporating the smooth scroll in CSS will do the job,
                it is not perfect and neither the best way. For me, as a web
                developer, I need more control over my web page and definitely
                the elements I am using on it. In addition to that, as discussed
                in the next section, the browser support for a smooth scroll in
                CSS is poor. Since this control is not provided by CSS and, you
                can rely on JavaScript for the same effects rather than CSS.
              </li>
              <li>
                As you can see that this property is not browser compatible with
                all the major browsers, Surprisingly, the scroll-behavior
                property is poorly supported with Apple still not ready to
                incorporate this in their browsers. Scroll-behavior being an
                important property needs a turnaround method to implement in the
                browsers where it is not supported and help to build a website
                that works better across different browsers.
              </li>
            </ul>
            <h1>How To Create Smooth Scroll With JS?</h1>
            <p>
              The x-coord parameter defines the pixel value in the horizontal
              direction to which the page needs to be scrolled.
            </p>
            <ul>
              <li>
                Now If you are wondering that if HEIF was more or less the same,
                then why are we moving towards AV1 – it is mainly because of the
                royalty-fees and slightly better performance of AV1 compared to
                HEIF.
              </li>
              <li>
                The options field depends on the developer. This field is a
                dictionary parameter that contains a set of options or
                parameters defining the characteristics of the smooth scroll
                with JS. To remember this as a stepwise process, we perform the
                following process to achieve smooth scrolling with JS:
              </li>
              <li>
                Jquery is yet another method that gives us the liberty to
                implement smooth scrolling with even more control than
                JavaScript. Implementing a smooth scroll with Jquery allows us
                to control the time it should take to scroll to the target
                element. In other words, you can manage the speed of scrolling.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-featured-articles></app-featured-articles>
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>
