<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left">
          <h1>The Ultimate Guide To Building A Mobile Friendly Website</h1>
          <div class="posted-on">
            <p>
              by <span>Harish Rajora</span> on
              <span>March 10, 2019</span>
            </p>
          </div>
          <div class="detail-img">
            <img src="assets/images/img2.jpg" alt="blog1" />
          </div>
          <div class="blog-desc">
            <p>
              As per statcounter, in 2016, mobile internet usage surpassed
              computer internet usage which solidified and prioritized the
              mobile usage stance in the market. Another statistic by Statista
              conveys that in 2020, around 4.57 billion people were accounted
              for as active mobile internet users. This just goes on to show how
              indispensable mobiles have become for accessing the internet. If
              you are running an online business and don’t have a
              mobile-friendly website then you are missing out on a lot of
              potential leads.
            </p>
            <p>
              But that is not the only reason why you should have a
              mobile-friendly website. Google has declared a mobile-first
              indexing algorithm that prioritizes mobile version of website
              content over desktop websites. So if you want to rank better on
              Google, which is something that everybody wants then you will need
              a mobile-friendly website.
            </p>
            <h1>What Does A Mobile User Want?</h1>
            <p>
              This holds entirely true for a mobile friendly website. Does your
              website offer a good mobile view of the website? It might look
              good to you but have you thought about this question from a
              customer’s perspective? If your customer isn’t happy with the
              mobile view of your website then it isn’t a mobile-friendly
              website. Period..
            </p>
            <ul>
              <li>
                Besides working well with Angular, Karma provides you with the
                feature to test your application across various devices like
                tablets or mobiles or even gaming consoles like PlayStation.
              </li>
              <li>
                Karma also helps to integrate testing frameworks like QUnit or
                Mocha with CircleCI, Jenkins and other integration services.
              </li>
            </ul>
            <h1>Appearance – Mobile View Of Your Website</h1>
            <p>
              As we said, the most important metric is the mobile view of a
              website. What content are you displaying in front of a customer in
              a mobile-friendly website could be the key to get more
              conversions. Here is a checklist to keep in mind for mobile view
              of your website.
            </p>
            <ul>
              <li>
                Apart from the navigation links, it is better to keep all the
                secondary tasks inside the menu (only if they are required) and
                display just the primary ones onto the main page. For example,
                on an eCommerce website, we can put the “My Account” tab under
                the menu rather than on the main page because the users do not
                edit their profile every day (actually not for months).
              </li>
              <li>
                Quite often I have seen that the developers implement horizontal
                scrolling on their website just to make the website look
                different, feel different or because it is a requirement for the
                component. As a user, I can assure you that mobile experience is
                well appreciated if the elements scroll vertically rather
                horizontally. It is only recommended if it is of extreme
                significance and vertical scrolling would make it lose its
                significance. But in a choice between the horizontal scroll and
                vertical scroll, always go with the vertical scrolling.
              </li>
              <li>
                Some of the components on your website are best seen on the
                landscape rotation, for example, images. While seeing these
                components, the user almost never rotates his phone to the other
                side on his own. This hurts the overall reputation of the mobile
                website since it has the potential to provide a better
                experience for the user but is relying on the user’s sense. As a
                better option, the developer can provide a prompt on such
                elements to suggest the user switch his mobile’s rotation for a
                better experience.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-featured-articles></app-featured-articles>
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>
