<div class="widget right-widget recent-post">
  <h4 class="widget-title">Featured Posts</h4>
  <a href="/article/1">
    <div class="rb-box">
      <div class="rb-box-img">
        <img src="assets/images/img1.jpg" alt="blog1" />
      </div>
      <div class="rb-box-desc">
        <h5>Testing A Single Page Angular JS Applications</h5>
        <p>by <span>Arnab Roy Chowdhury</span></p>
        <p>Posted On: March 10, 2019</p>
      </div>
    </div>
  </a>
  <a href="/article/2">
    <div class="rb-box">
      <div class="rb-box-img">
        <img src="assets/images/img2.jpg" alt="blog1" />
      </div>
      <div class="rb-box-desc">
        <h5>The Ultimate Guide To Building A Mobile Friendly Website</h5>
        <p>by <span>Harish Rajora</span></p>
        <p>Posted On: March 10, 2019</p>
      </div>
    </div>
  </a>
  <a href="/article/3">
    <div class="rb-box">
      <div class="rb-box-img">
        <img src="assets/images/img3.jpg" alt="blog1" />
      </div>
      <div class="rb-box-desc">
        <h5>Top 9 PHP Frameworks For Web Development In 2022</h5>
        <p>by <span>Rahul Jain</span></p>
        <p>Posted On: March 10, 2019</p>
      </div>
    </div>
  </a>
  <a href="/article/4">
    <div class="rb-box">
      <div class="rb-box-img">
        <img src="assets/images/img4.jpg" alt="blog1" />
      </div>
      <div class="rb-box-desc">
        <h5>Responsive Web Design Testing Checklist: All You Need to Know</h5>
        <p>by <span>Harish Rajora</span></p>
        <p>Posted On: March 10, 2019</p>
      </div>
    </div>
  </a>
  <a href="/article/5">
    <div class="rb-box">
      <div class="rb-box-img">
        <img src="assets/images/img5.jpg" alt="blog1" />
      </div>
      <div class="rb-box-desc">
        <h5>AVIF Image Format – The Next-Gen Compression Codec</h5>
        <p>by <span>Harish Rajora</span></p>
        <p>Posted On: March 10, 2019</p>
      </div>
    </div>
  </a>
</div>
