<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left">
          <h1>AVIF Image Format – The Next-Gen Compression Codec</h1>
          <div class="posted-on">
            <p>
              by <span>Harish Rajora</span> on
              <span>March 10, 2019</span>
            </p>
          </div>
          <div class="detail-img">
            <img src="assets/images/img5.jpg" alt="blog1" />
          </div>
          <div class="blog-desc">
            <p>
              Page speed is a big thing. From a search engine optimization
              perspective, and user perspective. And it’s not me who’s saying
              this, it’s Google, and Moz, and SEMrush and every major SEO site
              out there. Now when we talk about page speed, the biggest
              challenge for developers is always images. They are the bane of
              their existence and are usually primary blame point when we talk
              about slow page load. That is one of the reasons why every
              developer is always looking for an image format that can improve
              their image compression. And AVIF has arrived to do just that.
            </p>
            <p>
              AVIF Image Format can address images compressed with AV1 (AOMedia
              Video 1) algorithm. As compared to other compression codecs like
              JPEG, PNG, WebP, etc., it produces high quality compressed images
              without compromising much on quality. Developed by the Alliance
              for Open Media, it is a successor to WebP and promises to be a
              game-changer in image compression. With major companies supporting
              this format, the AVIF image format’s future is looking very
              bright.
            </p>
            <h1>What is AV Image Format (AVIF)</h1>
            <p>
              AVIF or AV Image Format is an open and royalty-free image format
              based on the AV1 codec, and similar to AV1 – AVIF provides a very
              high compression rate. Being royalty-free makes it one of the best
              among its peers. Leveraging the powerful genes of AV1 proves
              beneficial in both processing time and handling hardware issues.
              Also before we move further into the advantages of AVIF, be
              advised that AVIF saves the picture in the AVIF image format,
              which is relatively new and still not a popular file format, and
              this is a reasonably new algorithm. So there may be a possibility
              that it’s not best for all use cases right now.
            </p>
            <ul>
              <li>
                Besides working well with Angular, Karma provides you with the
                feature to test your application across various devices like
                tablets or mobiles or even gaming consoles like PlayStation.
              </li>
              <li>
                Karma also helps to integrate testing frameworks like QUnit or
                Mocha with CircleCI, Jenkins and other integration services.
              </li>
            </ul>
            <h1>Appearance – Mobile View Of Your Website</h1>
            <p>
              Arguably, HEIF is said to save 50% of the storage, which is
              excellent in today’s data-driven world. HEIF and AV1 are both
              based on the same standard, i.e., ISO-23000-12, which was driven
              by the Moving Pictures Experts Group (MPEG). Both formats’
              pedigree alone marks their reliability and makes them trustworthy
              with a promising future. Apart from bringing the file size to a
              minimum, the codecs using this standard can also also be used for
              animated images or GIFs as popularly known.
            </p>
            <ul>
              <li>
                Now If you are wondering that if HEIF was more or less the same,
                then why are we moving towards AV1 – it is mainly because of the
                royalty-fees and slightly better performance of AV1 compared to
                HEIF.
              </li>
              <li>
                AV1 is the most recent video codec developed by Alliance for
                Open Media and hence the name AOMedia Video 1 codec (AV1 codec).
                The development of the AV1 video codec resulted from the
                collaboration between Google, Xiph, and Cisco, who decided to
                combine their in-house video codecs into one single open,
                royalty-free video codec to benefit everyone. Being royalty-free
                has been the highlighted feature for AV1 since every other codec
                had a portion of royalties (except WebP). Therefore, unlike
                JPEG, which was neither open nor royalty-free, AV1 has seen much
                faster progress and a wider adoption among the top tech
                companies, including Google.
              </li>
              <li>
                The idea behind designing AV1 was to transmit the video over the
                internet. With a greater compression reach for the video and
                reducing the number of overall bits, AV1 codec provides multiple
                coding techniques that enable the encoders to use various inputs
                for their missions. If you wonder why we brought this concept of
                video compression technique into an image compression post,
                video, and image codec share similarities between them because
                of the same nature of the data. AV1 codec has proved very
                advantageous for the internet by saving the bandwidth, which
                MPEG could not do, although JPEG XR was still in the race but
                not as effective as AV1.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-featured-articles></app-featured-articles>
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>
