<section class="blog-list mtb-40">
  <div class="container">
    <h1>Article List</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/img1.jpg" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>Testing A Single Page Angular JS Applications</h3>
                <p>by <span>Arnab Roy Chowdhury</span></p>
                <p>
                  With the introduction of Angular JS, Google brought a paradigm
                  shift in the world of web development...
                </p>
                <a href="/article/1" class="readmore">Read more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/img2.jpg" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>
                  The Ultimate Guide To Building A Mobile Friendly Website
                </h3>
                <p>by <span>Harish Rajora</span></p>
                <p>
                  As per statcounter, in 2016, mobile internet usage surpassed
                  computer internet usage which solidified and prioritized the
                  mobile usage stance in the market...
                </p>
                <a href="/article/2" class="readmore">Read more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/img3.jpg" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>Top 9 PHP Frameworks For Web Development In 2022</h3>
                <p>by <span>Rahul Jain</span></p>
                <p>
                  With an average global salary of $39k, PHP is one of the most
                  popular programming languages in the developer community...
                </p>
                <a href="/article/3" class="readmore">Read more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/img4.jpg" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>
                  Responsive Web Design Testing Checklist: All You Need to Know
                </h3>
                <p>by <span>Harish Rajora</span></p>
                <p>
                  We live in an era of smartphones, and we spend a lot of our
                  time on these devices. Do you know an average smartphone user
                  currently spends 4 hours and 30 minutes per day on their
                  device?...
                </p>
                <a href="/article/4" class="readmore">Read more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/img5.jpg" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>AVIF Image Format – The Next-Gen Compression Codec</h3>
                <p>by <span>Harish Rajora</span></p>
                <p>
                  Page speed is a big thing. From a search engine optimization
                  perspective, and user perspective. And it’s not me who’s
                  saying this, it’s Google, and Moz, and SEMrush and every major
                  SEO site out there...
                </p>
                <a href="/article/5" class="readmore">Read more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/img6.jpg" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>
                  Browser Compatible Smooth Scrolling with CSS, JS & JQuery
                </h3>
                <p>by <span>Harish Rajora</span></p>
                <p>
                  Have you ever noticed how a scroll works on a webpage? What if
                  you are not allowed to touch the mouse or the arrow keys on
                  the keyboard...
                </p>
                <a href="/article/6" class="readmore">Read more...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-featured-articles></app-featured-articles>
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>
